* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(180deg, #9e9af7 0%, #edcbe5 52.6%, #e5c49f 100%);
    height: 100vh;
    overflow: hidden;
}
